<div *ngIf="loading">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>

<div [ngClass.lt-md]="'container-fluid'" 
     [ngClass.gt-sm]="'container'">
    <mat-card *ngFor="let education of educations | async">

        <mat-card-header>
          <mat-card-title class="title">{{education.name}}</mat-card-title>
          <mat-card-subtitle>{{education.degreeInfo}}</mat-card-subtitle>
          <mat-card-subtitle>{{education.duration}}</mat-card-subtitle>
          <mat-card-title>{{education.moreInfo}}</mat-card-title> 
        </mat-card-header>
      
      </mat-card>
</div>

