<header>
  <div id="top">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div @bounce 
               class="media col-md-offset-3 col-md-6">
            <div class="media-left">
                <img class="avatar media-object" 
                     src="assets/images/profilePic.jpeg" 
                     alt="profile pic">
            </div>
              
              <div class="media-body">
                <h5 class="media-heading">
                  Didier Gbenou
                </h5>
                <p class="title-2">On My Way To Be a Full Stack Web Developer</p>
              </div>
          </div>
        </div>
        <div class="row">
          <div @slideIn 
               class="col-md-7 col-md-offset-4">
            <div>
                <a *ngFor="let icon of icons"
                   class="col-md-1"
                   matTooltip="{{ icon.tooltip }}"
                   href="{{ icon.link }}"
                   class="fa 
                          {{ icon.name }} 
                          social-img"
                   target="{{icon.target}}">
                </a>
                <a matTooltip="Contact"
                   routerLink="/contact"
                   class="fa fa-envelope
                          social-img
                          col-md-1"
                   target="_self">
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>