
.jumbotron{
    height: 400px;
    background-color: rgb(192,192,192);
    margin-bottom: 0;
}
.avatar { 
    width: 100px;
    height: 110px;
    border-radius: 100%;
}

.social-img:hover{
    background: white;
}

.social-img { 
    padding: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    background: #A9A9A9;
    color: black;
    
}
.name-title{
    margin-bottom: 60px;
}

.name{
    font-family: Pacifico;
    font-size: 4em;
    margin-bottom: 10px;
    color: black;
}

.name-xs{
    font-size: 3em;
}

.title{
    margin-top: 2rem;
    font-size: 1.6rem;
    color: black;
    font-weight: 500;
}

.title-xs{
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}