<header>
  <div id="top">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div @bounce class="media col-md-offset-3 col-md-6">
            <div class="media-left">
                <img class="avatar media-object" src="assets/images/profilePic.png" alt="profile pic">
            </div>
              
              <div class="media-body">
                <h5 class="media-heading">
                  Didier Gbenou
                </h5>
                <p>Full stack web developper</p>
              </div>
          </div>
        </div>
        <div class="row">
          <div @slideIn class="col-md-7 col-md-offset-4">
            <div  class="col-md-1" *ngFor="let icon of icons">
                <a  
                    title="{{ icon.tooltip }}"
                    href=""
                    class="fa 
                           {{ icon.name }} 
                           social-img">
                </a>
            </div>
          </div>
           
        </div>
      </div>
    </div>
  </div>
</header>