
<div class="container-fluid footer-bottom">
    <div class="row">
        <div class="col-md-6">
          <span class="fa fa-copyright"></span>
          2018 Didier Gbenou
        </div>
        <div class="col-md-6">
          Backend Powered by 
            <img matTooltip="NodeJS"
                 class="icon"
                 src="assets/images/nodejs-2.png" 
                 alt="nodejs">
           and 
            <img matTooltip="Firebase"
                 class="icon" 
                 src="assets/images/firebase.png" 
                 alt="firebase">
        </div>
      </div>
</div>