<div class="container all">
  <h3>"Everyone can code, but not everyone can design"</h3>
  <p>
      I am a current junior in Information Systems 
    who loves coding. You may be wondering why I
    am not studying Computer Science? Well, just
    because one day in class, my C++ teacher said 
    something really interesting:
    "Everyone can code, but not everyone can design".
    Additionnally, during my Co-Op at PJM 
    Interconnection, I realized that design is actually
    the fun part of software engineering. I also
    realized it also makes me a better developer because
    after the design process, I know exactly what the user wants, 
    and what to code. This is why I believe my happiness lives 
    in Design but in Coding also &#9786;.
  </p>
</div>
