<nav 
     mat-tab-nav-bar>
     <div class="container-fluid">
        <div class="row">
            
                    <a mat-tab-link class="col-md-2"
                        *ngFor="let link of navLinks"
                        [routerLink] = "link.addr"
                        routerLinkActive #rla="routerLinkActive"
                        [active]="rla.isActive"
                        [routerLinkActiveOptions]="{ exact: true }">
                        {{link.label}}
                    </a>
                
                 </div>
     </div>
     
    
</nav>

