<div class="row">
    <mat-card *ngFor="let project of projects" 
              class="col-md-6">
        <mat-card-header>

          <mat-chip-list>
              <mat-chip>Project</mat-chip>
              <mat-chip>Problem</mat-chip>
              <mat-chip>Solution</mat-chip>
          </mat-chip-list>

          <div class="data">
            <mat-card-title>{{project.title}}</mat-card-title>
            <mat-card-title>{{project.problem}}</mat-card-title>
            <mat-card-title>{{project.solution}}</mat-card-title>
          </div>
          
        </mat-card-header>
      </mat-card>
</div>

<br><br>
