ul{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
    
}

li{
    height: 75px;
    font-size: 1.3em;
    line-height: 50px;
}

li:hover{
    background: #F3EDED;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: black;
}

img { 
    width: 50px;
    height: 50px;
    border-radius: 100%;
    float: right;
}