
mat-card{
    margin-top: 30px;
}


.mat-chip:not(.mat-basic-chip)+.mat-chip:not(.mat-basic-chip) {
    margin: 0;
}



mat-card-title{
    text-align: justify;
}

.mat-card-title-xs{
    padding-left:12px
}


mat-chip-list{
    display: flex;
    justify-content: space-between;
    flex: 1;  
}

.data{
    flex: 5;
}